html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: $medigo-white;
  font-family: $font-poppins;
}

a {
  text-decoration: none!important;
}

ul {
  margin: 0!important;
}

.no--padding {
  padding: 0!important;
}

.height--full {
  height: 100%!important;
}

.pull--left {
  float: left!important;
}

.pull--right {
  float: right!important;
}

.box--shadow {
  @extend .inh-box-shadow;
}

.loading--screen {
  position: fixed;
  z-index: 999;
  background: #FFF;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;

  .box {
    display: block;
    text-align: center;

    img {
      display: inline-block;
    }

    span {
      font-size: 0.8em;
      color: #CCC;
    }
  }
}