@import url('https://fonts.googleapis.com/css?family=Poppins:300,400');

$medigo-black: #000000;
$medigo-white: #FFFFFF;

$medigo-blue: #1AB1E5;

$medigo-green-light: #DAF4F2;
$medigo-green-light-second: #D8F4F2;
$medigo-green-medium: #24E2CF;
$medigo-green-dark: #046E89;

$medigo-grey-ligth: #FAFAFA;
$medigo-grey-ligth-second: #EEEEEE;
$medigo-grey-medium: #BABABA;
$medigo-grey-dark: #7F7F7F;

$font-poppins: 'Poppins', sans-serif;